.box1
{
    width: 100%;
    height: 2000px;
    background-color: aquamarine;
    text-align: center;
}

.box2
{
    width: 50%;
    height: 200px;
    text-align: center;
}

.dogs
{
    max-width: 50%;
    height: 400px;
}

